# Python
__pycache__/
*.pyc

# Environment
.env

# Data
data/raw/*
data/processed/*
!data/raw/.keep
!data/processed/.keep

# Docker volumes
docker-volumes/

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Logs
*.log